#Directories
/bin
/build
/logs
/minecraft/*
/out
/run

#Hidden Directories
/.gradle
/.idea

#Extensions
*.classpath
*.iml
*.ipr
*.iws
*.log
*.prefs
*.project
*.reject
*.war

#Files
hs_err_pid*
Thumbs.db
